MONGODB_URI=

AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
AUTH_SECRET=
AUTH_URL=http://localhost:3000

GAME_SERVER_PORT=4000
NEXT_PUBLIC_GAME_SERVER_URL=http://localhost:4000
WEB_APP_URL=http://localhost:3000
CORS_ORIGINS=http://localhost:3000
GAME_JWT_SECRET=
INTERNAL_API_SECRET=
